@Chinese.search.mainWithSearch("批量序列提取") {

    <div class="row">
        <div class="form-group col-sm-12">
            <h2 class="page-heading"
            style="text-align: left;
                border-bottom: 5px solid #e9f3f4">批量序列提取</h2>
        </div>
    </div>

        <form class="registration-form form-horizontal" id="conditionForm"
        style="margin: 20px;" >

            <div class="form-group" style="margin-top: 10px">
                <label class="control-label col-sm-1 col-sm-offset-1">区间:</label>
                <div class="col-sm-6">
                    <textarea class="form-control" name="region" id="region" rows="5"
                    style="border-radius: 4px;"></textarea>
                    <span class="help-block">e.g.,&nbsp;<a href="#"><em id="egRegion">
                        1:4000-6000 2:6000-10000</em></a></span>
                </div>
            </div>

            <div class="form-group" style="margin-top: 25px">
                <div class="actions col-sm-offset-2 col-sm-3">
                    <input type="button" id="search" value="运行"
                    class="btn btn-primary" onclick="mySearch()" style="width: 80%;margin-top: 5px">
                </div>
                <div class="actions  col-sm-3" style="text-align: right">
                    <button type="button" class="btn btn-primary" id="reset" style="width: 80%;
                    margin-top: 5px">
                        重置</button>
                    <button type="reset" style="display: none" id="r"></button>
                </div>
            </div>
        </form>
        <br>
        <div id="result" style="display: none">
            <hr>
            <h4>序列:</h4>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea class="form-control" name="queryText" id="queryText" rows="5"></textarea>
                </div>
            </div>
        </div>
    <script>

            var originalHtml = ""

            $(function () {
                originalHtml = $("#result").html()

                $("#egRegion").click(function () {
                    var eg = $(this).text().trim();
                    $('#region').val(eg);
                    $("#conditionForm").formValidation("revalidateField", "region")
                });

                formValidation()
            })

            function formValidation() {
                $('#conditionForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        region: {
                            validators: {
                                notEmpty: {
                                    message: 'Region is required！'
                                },
                            }
                        },
                    }
                });
            }

            function mySearch() {
                var form = $("#conditionForm")
                var fv = form.data("formValidation")
                fv.validate()
                if (fv.isValid()) {
                    var index = layer.load(1, {
                        shade: [0.1, '#fff']
                    });
                    $("#search").attr("disabled", true).html("Search...")
                    $.ajax({
                        url: "@routes.ToolsController.seqRegion()",
                        type: "post",
                        data: $("#conditionForm").serialize(),
                        success: function (data) {
                            $("#search").attr("disabled", false).html("Search").blur()
                            if (data.valid == "false") {
                                swal("Error", data.message, "error")
                                $("#result").hide()
                            } else {
                                $("#queryText").val(data)
                                $("#result").show()
                            }
                            layer.close(index)
                        }
                    });
                }
            }

            $('#reset').click(function () {
                $('#r').click();
                $("#conditionForm").formValidation("revalidateField", "region");
            });
    </script>

}