@Chinese.search.mainWithSearch("序列提取") {
    <style>
            pre {
                width: 815px;
                border: 0px;
                padding: 0px;
                font-size: 16px;
                background-color: transparent;
                white-space: pre-wrap;
            }
    </style>

    <div class="row">
        <div class="form-group col-sm-12">
            <h2 class="page-heading"
            style="text-align: left;
                border-bottom: 5px solid #e9f3f4">序列提取</h2>
        </div>
    </div>

    <form class="registration-form form-horizontal" id="conditionForm"
    style="margin: 20px;" >

        <div class="form-group">
            <label class="control-label col-sm-2">染色体:</label>
            <div class="col-sm-2">
                <select name="chr" id="chr" class="checkbox form-control chr"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">起始坐标:</label>
            <div class="col-sm-2">
                <input class="form-control" name="start" id="start">
            </div>
            <label class="control-label">e.g., <a href="#"><em id="egStart">15</em></a></label>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">终止坐标:</label>
            <div class="col-sm-2">
                <input class="form-control" name="end" id="end">
            </div>
            <label class="control-label">e.g., <a href="#"><em id="egEnd">600000</em></a></label>
        </div>

        <div class="form-group" style="margin-top: 25px">
            <div class="actions col-sm-offset-2 col-sm-2">
                <input type="button" id="search" value="运行"
                class="btn btn-primary" onclick="mySearch()" style="width: 60%;
                margin-top: 5px">
            </div>
            <div class="actions  col-sm-2">
                <button type="button" class="btn btn-primary" id="reset" style="width: 60%;
                    margin-top: 5px">
                    重置</button>
                <button type="reset" style="display: none" id="r"></button>
            </div>
        </div>
    </form>
    <br>
    <div id="result" style="display: none">
        <hr>
        <h4>序列:</h4>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="form-control" name="queryText" id="queryText"style="width: 1000px;
                    height: 150px;
                    overflow: auto"></div>
            </div>
        </div>
    </div>
    <script>

            var originalHtml = ""

            $(function () {
                originalHtml = $("#result").html()

                $("#egStart").click(function () {
                    var eg = $(this).text().trim();
                    $('#start').val(eg);
                    $("#conditionForm").formValidation("revalidateField", "start")
                });
                $("#egEnd").click(function () {
                    var eg = $(this).text().trim();
                    $('#end').val(eg);
                    $("#conditionForm").formValidation("revalidateField", "end")
                });

                $.ajax({
                    url: "@routes.GeneInformationController.getAllChr()",
                    type: "post",
                    success: function (data) {
                        $(".chr").select2(
                                {
                                    data: data,
                                }
                        );
                    }
                });

                formValidation()
            })

            function formValidation() {
                $('#conditionForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        start: {
                            validators: {
                                notEmpty: {
                                    message: 'Start is required！'
                                },
                                integer: {
                                    message: 'Start must be integer！'
                                },
                                stringLength: {
                                    max: 9,
                                    message: "The number is to big!"
                                },
                            }
                        },
                        end: {
                            validators: {
                                notEmpty: {
                                    message: 'End is required！'
                                },
                                integer: {
                                    message: 'End must be integer！'
                                },
                                between: {
                                    min: 'start',
                                    max: 99999999999,
                                    message: "The end must be larger than the start！"
                                },
                                stringLength: {
                                    max: 9,
                                    message: "The number is to big!"
                                },
                            }
                        },
                    }
                });
            }

            function mySearch() {
                var form = $("#conditionForm")
                var fv = form.data("formValidation")
                fv.validate()
                if (fv.isValid()) {
                    var index = layer.load(1, {
                        shade: [0.1, '#fff']
                    });
                    $("#search").attr("disabled", true).html("Search...")
                    $.ajax({
                        url: "@routes.ToolsController.seqFetch()",
                        type: "post",
                        data: $("#conditionForm").serialize(),
                        success: function (data) {
                            $("#search").attr("disabled", false).html("Search").blur()
                            if (data.valid == "false") {
                                swal("Error", data.message, "error")
                                $("#result").hide()
                            } else {
                                var html = "<pre>"+data+"</pre>"
                                $("#queryText").append(html)
                                $("#result").show()
                            }
                            layer.close(index)
                        }
                    });
                }
            }

            $('#reset').click(function () {
                $('#r').click();
                $("#conditionForm").formValidation("revalidateField", "end");
                $("#conditionForm").formValidation("revalidateField", "start");
            });
    </script>

}