@()
@English.admin.main("Home") {
    <style>
            .row {
                margin-left: 15px;
            }

            h4 {
                font-weight: bold;
                color: #777;
            }

            body {
                margin-bottom: 0px;
            }

            .tiles .tile {
                height: 180px;
                width: 180px !important;
                margin-left: 50px;
            }

            .tiles .tile .tile-body > i {
                margin-top: 27px;
                font-size: 86px;
            }

    </style>

    <div class="row">
        <div class="col-sm-10" style="margin-top: 100px">
            <div class="tiles">
                <a class="tile bg-green-jungle" href="@routes.AdminController.addmRNABefore()">
                    <div class="corner">
                    </div>
                    <div class="tile-body">
                        <i class="fa fa-files-o"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"  style="margin-top: 27px;font-size: 16px;">
                            Add Sample
                        </div>
                    </div>
                </a>
            </div>

            <div class="tiles">
                <a class="tile bg-red-intense" href="@routes.AdminController.deletemRNABefore()">
                    <div class="corner">
                    </div>
                    <div class="tile-body">
                        <i class="fa fa-remove"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name" style="margin-top: 27px;font-size: 16px;">
                            Delete Sample
                        </div>
                    </div>
                </a>
            </div>

            <div class="tiles">
                <a class="tile bg-green-jungle" href="@routes.AdminController.updateCorrelation()">
                    <div class="corner">
                    </div>
                    <div class="tile-body">
                        <i class="fa fa-files-o"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name" style="margin-bottom: 10px;font-size: 16px">
                            Update Gene Correlation Info
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="col-sm-6" style="margin-top: 150px">
            <hr>
            <div class="row" style="text-align: center;
                margin-top: 20px;
                margin-left: 1px">
                <p class="text-justify" style="font-size: 15px">
                    Address:No.2901,Beidi Road,Minhang District,Shanghai</p>
                <p class="text-justify" style="font-size: 15px">
                    Copyright：Shanghai Agrobiological Gene
                </p>
                <p class="text-justify" style="font-size: 15px">
                    Zip Code:201106 Tel:86-21-52230526 E-mail:sagc&#64sagc.org.cn
                </p>
                <p class="text-justify" style="font-size: 15px">
                    ICP No.:06037669
                </p>
            </div>
        </div>

    </div>
}