@search.mainWithSearch("T-Test-SAGC") {

    <div class="container">
        <form class="registration-form form-horizontal" id="conditionForm"
        style="margin: 20px">

            <div class="form-group col-sm-12">
                <h2 class="page-heading"
                style="text-align: left;
                    border-bottom: 5px solid #e9f3f4">Rice T-Test</h2>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2 col-sm-offset-1">Group1:</label>
                <div class="col-sm-6">
                    <textarea class="form-control" name="group1" id="group1" rows="4" style="border-radius: 4px;
                        margin-top: 10px"
                    required ></textarea>
                    <span class="help-block">e.g.,&nbsp;<a href="#"><em id="eGroup1">
                        Example</em></a></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2 col-sm-offset-1">Group2:</label>
                <div class="col-sm-6">
                    <textarea class="form-control" name="group2" id="group2" rows="4" style="border-radius: 4px;"
                    required ></textarea>
                    <span class="help-block">e.g.,&nbsp;<a href="#"><em id="eGroup2">
                        Example</em></a></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2 col-sm-offset-1">Set logFC cuttoff:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" value="1"
                    style="border-radius: 4px;"
                    name="c" id="logFc"/>
                </div>
            </div>

            <div class="form-group" style="margin-top: 20px">
                <label class="control-label col-sm-2 col-sm-offset-1">Set p-value cuttoff:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" value="0.05" name="pval"
                    id="pValue" style="border-radius: 4px;"/>
                </div>
            </div>

            <div class="form-group" style="margin-top: 30px">
                <div class="actions col-sm-offset-3 col-sm-3">
                    <button type="button" class="btn btn-primary" style="width: 80%;" id="search" onclick="mySearch()">
                        To analyze</button>
                </div>
                <div class="actions col-sm-3 col-sm-offset-1/2">
                    <button type="reset" class="btn btn-primary" style="width: 80%;
                        margin-left: 50px">reset</button>
                </div>
            </div>
        </form>
        <br>
        <div id="result" style="display: none">
            <hr>
            <label style="margin-left: 20px">Select the attributes to display:</label>
            <div id="checkbox" class="checkbox" style="margin-left: 40px">

            </div>
            <div id="toolbar">
                    &nbsp;Keyword：
            </div>
            <div class="table-responsive panel-collapse collapse in " >
                <table class="display table table-bordered" id="table" data-pagination="true" data-search="true"
                data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-search-align="left" data-multiple-search="true"
                data-show-export="true" data-export-types="['excel','txt']" data-export-data-type="all"
                style="word-wrap: break-word">
                    <thead>
                        <tr>
                            <th data-field="geneId" data-sortable="true" >Gene symbol</th>
                            <th data-field="mean1" data-sortable="true">mean(group1)</th>
                            <th data-field="stderr1" data-sortable="true">stderr(group1)</th>
                            <th data-field="mean2" data-sortable="true">mean(group2)</th>
                            <th data-field="stderr2" data-sortable="true">stderr(group2)</th>
                            <th data-field="logFC" data-sortable="true">logFC(group2/group1)</th>
                            <th data-field="p-value" data-sortable="true">p-value</th>
                            @*<th data-field="q-value" data-sortable="true">q-value</th>*@
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


    <script>

            var originalHtml = ""
            $(function () {
                originalHtml = $("#result").html()
                $('#eGroup1').click(function () {
                    //输入的文本去掉两边的空格
                    var eg = "A001,A002,A003,A015,A014,A013,A006,A004,A100,A201,A209,A052,A047";
                    $('#group1').val(eg);
                });
                //快速选eg
                $('#eGroup2').click(function () {
                    var eg = "B001,B002,B003,B015,B014,B108,B208,B032,B050,B060,B075,B086,B095";
                    $('#group2').val(eg);
                });

                function extractor(query) {
                    var result = /([^,]+)$/.exec(query);
                    if (result && result[1])
                        return result[1].trim();
                    return '';
                }

                $.ajax({
                    url: "/SAGC/admin/getAllSampleName",
                    type: "get",
                    success: function (data) {
                        $('#group1').typeahead({
                            source: data,
                            updater: function (item) {
                                return this.$element.val().replace(/[^,]*$/, '') + item + ',';
                            },
                            matcher: function (item) {
                                var tquery = extractor(this.query);
                                if (!tquery) return false;
                                return ~item.toLowerCase().indexOf(tquery.toLowerCase())
                            },
                            highlighter: function (item) {
                                var query = extractor(this.query).replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&')
                                return item.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
                                    return '<strong>' + match + '</strong>'
                                })
                            }
                        })
                    }
                });

                $.ajax({
                    url: "/SAGC/admin/getAllSampleName",
                    type: "get",
                    success: function (data) {
                        $('#group2').typeahead({
                            source: data,
                            updater: function (item) {
                                return this.$element.val().replace(/[^,]*$/, '') + item + ',';
                            },
                            matcher: function (item) {
                                var tquery = extractor(this.query);
                                if (!tquery) return false;
                                return ~item.toLowerCase().indexOf(tquery.toLowerCase())
                            },
                            highlighter: function (item) {
                                var query = extractor(this.query).replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&')
                                return item.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
                                    return '<strong>' + match + '</strong>'
                                })
                            }
                        })
                    }
                });

            })


            function mySearch() {
                $.ajax({
                    url: "@routes.AnalyseController.checkPostion()",
                    type: "post",
                    dataType: "json",
                    data: $("#conditionForm").serialize(),
                    success: function (data) {
                        var index = layer.load(1, {
                            shade: [0.1, '#fff']
                        });
                        if (data.valids == "true") {
                            layer.close(index)
                            swal("Error!", data.messages, "error")
                        } else {
                            $("#search").attr("disabled", true).html("Analyse...")
                            $("#result").empty().append(originalHtml);
                            var array = ["mean(group1)", "stderr(group1)", "mean(group2)", "stderr(group2)", "logFC", "p-value"]
                            var values = ["mean1", "stderr1", "mean2", "stderr2", "logFC", "p-value"]
                            var html = ""
                            $.each(array, function (n, value) {
                                        html += "<label style='margin-right: 15px'>" +
                                                "<input type='checkbox' checked='checked' value='" + values[n] + "' onclick=\"setColumns('" + values[n] + "')\">" + value +
                                                "</label>"
                                    }
                            );
                            $("#checkbox").append(html)

                            $.ajax({
                                url: "/SAGC/analyse/result",
                                type: "get",
                                dataType: "json",
                                data: $("#conditionForm").serialize(),
                                success: function (data) {
                                    $('#table').bootstrapTable({data: data});
                                    $("#search").attr("disabled", false).html("To Analyse").blur()
                                    $("#result").show()
                                    layer.close(index)
                                }
                            });
                        }
                    }
                });
            }

            function setColumns(value) {
                var element = $("input:checkbox[value=" + value + "]")
                if (element.is(":checked")) {
                    $('#table').bootstrapTable('showColumn', value);
                } else {
                    $('#table').bootstrapTable('hideColumn', value);
                }
            }

    </script>
}