@Chinese.main("基于染色体区间搜索") {

    <div class="row">
        <div class="form-group col-sm-12">
            <h2 class="page-heading"
            style="text-align: left;
                border-bottom: 5px solid #e9f3f4">基于染色体区间搜索</h2>
        </div>
    </div>

        <form class="registration-form form-horizontal" action="/SAGC/chinese/search/getSBySRegion" method="get" id="conditionForm"
        style="margin: 20px;">

            <div class="form-group">
                <label class="control-label col-sm-2">染色体:</label>
                <div class="col-sm-2">
                    <select name="chr" id="chr" class="checkbox form-control chr"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">起始坐标:</label>
                <div class="col-sm-2">
                    <input class="form-control" name="start" id="start" required="true">
                </div>
                <label class="control-label">e.g., <a href="#"><em id="egStart">15</em></a></label>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">终止坐标:</label>
                <div class="col-sm-2">
                    <input class="form-control" name="end" id="end" required="true">
                </div>
                <label class="control-label">e.g., <a href="#"><em id="egEnd">600000</em></a></label>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">样品名:</label>
                <div class="col-sm-6">
                    <textarea class="form-control" name="sampleName" id="sample" rows="5"
                    style="border-radius: 4px;" ></textarea>
                    <span class="help-block">e.g.,&nbsp;<a href="#"><em id="egSample">
                        样例</em></a></span>
                </div>
            </div>

            <div class="form-group" style="margin-top: 25px">
                <div class="actions col-sm-offset-2 col-sm-3">
                    <button type="button" class="btn btn-primary" style="width: 80%;margin-top: 5px" id="search" onclick="mySearch()">
                        搜索</button>
                </div>
                <div class="actions col-sm-3" style="text-align: right">
                    <button type="reset" class="btn btn-primary" style="width: 80%;
                        margin-top: 5px">Reset</button>
                </div>
            </div>
        </form>
    <script>

            $(function () {
                $("#egStart").click(function () {
                    var eg = $(this).text().trim();
                    $('#start').val(eg);
                });
                $("#egEnd").click(function () {
                    var eg = $(this).text().trim();
                    $('#end').val(eg);
                });
                $('#egSample').click(function () {
                    var eg = "A001,A003,A039,A065,A078,A091,B001,B002,B003,B036";
                    $('#sample').val(eg);
                });
                function extractor(query) {
                    var result = /([^,]+)$/.exec(query);
                    if (result && result[1])
                        return result[1].trim();
                    return '';
                }

                $.ajax({
                    url: "/SAGC/get/getAllSampleName",
                    type: "get",
                    success: function (data) {
                        $('#sample').typeahead({
                            source: data,
                            updater: function (item) {
                                return this.$element.val().replace(/[^,]*$/, '') + item + ',';
                            },
                            matcher: function (item) {
                                var tquery = extractor(this.query);
                                if (!tquery) return false;
                                return ~item.toLowerCase().indexOf(tquery.toLowerCase())
                            },
                            highlighter: function (item) {
                                var query = extractor(this.query).replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&')
                                return item.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
                                    return '<strong>' + match + '</strong>'
                                })
                            }
                        })
                    }
                });

                $.ajax({
                    url: "@routes.GeneInformationController.getAllChr()",
                    type: "post",
                    success: function (data) {
                        $(".chr").select2(
                                {
                                    data: data,
                                }
                        );
                    }
                });
            })

            function mySearch() {
                $("#search").attr("disabled", true).html("搜索中...");
                $.ajax({
                    url: "@routes.CheckController.checkRegion()",
                    type: "post",
                    dataType: "json",
                    data: $("#conditionForm").serialize(),
                    success: function (data) {
                        if (data.valid == "false") {
                            swal({
                                title: "错误!",
                                text: data.message,
                                type: "error",
                                confirmButtonText: "确定"
                            })
                            $("#search").attr("disabled", false).html("搜索");
                        } else {
                            $("#conditionForm").submit()
                        }
                    }
                });
            }
    </script>

}