@()
<div class="page-header">

	<div class="banner">
		<div class="logo">
			<a href="@routes.ChineseController.mainIndex()"><img src="/assets/images/SAGC.png" style="width: 160px;height: 120px"></a>
			<h1><span>SAGC</span><font style="font-size: 28px"> &nbsp;水稻基因表达量数据库</font></h1>
		</div>
	</div>

	<nav class="navbar navbar-default">
			<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="@routes.ChineseController.backgroundIndex()"><span class="glyphicon glyphicon-home"></span> 主页</a></li>

				<li class="dropdown">
					<a href="#">操作 <span class="fa fa-caret-down"></span></a>
					<ul class="dropdown-menu">
						<li><a href="@routes.ChineseController.addmRNABefore()">增加样品</a></li>
						<li><a href="@routes.ChineseController.deletemRNABefore()">删除样品</a></li>
						<li><a href="@routes.ChineseController.updateCorrelation()">更新基因相关性信息</a></li>
					</ul>
				</li>
				<li><a href="@routes.ChineseController.changePasswordBefore()"><span class="fa fa-key"></span> 修改密码</a></li>
				<li><a href="@routes.ChineseController.loginBefore()"><span class="fa fa-user"></span> 登录</a></li>
				<li><a href="@routes.ChineseController.logout()"><span class="fa fa-user-times"></span> 登出</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li style="color: white">
					<a><button type="button" onclick="toOther()" style="background-color: transparent;
						border: transparent"><span class="fa fa-wordpress"></span>English</button>
					</a></li>
			</ul>
		</div>
	</nav>
</div>

<script>

		function toOther() {
			var path = window.location.pathname
			var parameter = window.location.search
			var path1 = path.split("/")
			var path2 = "/SAGC/" + path1[3] + "/" + path1[4] + parameter
			window.location.href = path2
		}


</script>