@import models.Tables.GeneinformationRow
@(geneInfo: GeneinformationRow)

@search.mainWithSearch("More info-SAGCBase") {
    <style>
            th {
                width: 15%;
            }
    </style>
    <div class="row">
        <div class="form-group col-sm-12">
            <h2 class="page-heading"
            style="text-align: left;
                border-bottom: 5px solid #e9f3f4">Detail info</h2>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered" style="table-layout: fixed;
            word-wrap: break-word"
        >
            <tbody>
                <tr>
                    <th>Gene Id</th>
                    <td>@geneInfo.geneId</td>
                </tr>
                <tr>
                    <th>Gene Name</th>
                    <td>@geneInfo.geneName</td>
                </tr>
                <tr>
                    <th>Chromosome</th>
                    <td>@geneInfo.chromosome</td>
                </tr>
                <tr>
                    <th>Gene Start</th>
                    <td>@geneInfo.geneStart</td>
                </tr>
                <tr>
                    <th>Gene End</th>
                    <td>@geneInfo.geneEnd</td>
                </tr>
                <tr>
                    <th>Strand</th>
                    <td>@geneInfo.strand</td>
                </tr>
                <tr>
                    <th>Function</th>
                    <td>@geneInfo.func</td>
                </tr>
                <tr>
                    <th>GO Planet</th>
                    <td>@geneInfo.go</td>
                </tr>
                <tr>
                    <th>KEGG Planet</th>
                    <td>@geneInfo.kegg</td>
                </tr>
                <tr>
                    <th>Interpro ID</th>
                    <td>@geneInfo.iprId</td>
                </tr>
                <tr>
                    <th>Interpro Description</th>
                    <td>@geneInfo.iprDescrip</td>
                </tr>
                <tr>
                    <th>cDNA</th>
                    <td>>@geneInfo.geneId<br>@geneInfo.cdna</td>
                </tr>
                <tr>
                    <th>CDS</th>
                    <td>>@geneInfo.geneId<br>@geneInfo.cds</td>
                </tr>
                <tr>
                    <th>PEP</th>
                    <td>>@geneInfo.geneId<br>@geneInfo.pep</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
    </script>
}