@English.search.mainWithSearch("DownLoad-SAGC") {



    <script>

            $(function () {
                window.setInterval(function () {
                    $.ajax({
                        url: "/SAGC/test",
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            $("#t").empty().append(data)
                        }
                    });
                }, 1000);
                var index = layer.msg('<div id="t"></div>', {
                    icon: 16,
                    shade: 0.01,
                    time: 99999000
                });
            })
    </script>
}