@Chinese.main("主页") {
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-sm-12">
                <h2 class="page-heading"
                style="text-align: left;
                    border-bottom: 5px solid #e9f3f4">简介</h2>
            </div>
        </div>
        <div class="col-md-7">
            <p class="text-justify" style="font-size: 16px;
                margin-left: 1px;
                width: 650px;
                line-height: 30px">
                        &emsp;&emsp;上海市农业生物基因中心成立于2002年7月27日，
                    是隶属于上海市农业委员会、委托上海市农科院
                    管理的公益性事业单位，实行理事会领导下的首
                    席科学家负责制。中心专注于农业生物基因资源
                    研究，其宗旨为：立足上海、面向全国、接轨世
                    界，为我国农业的持续发展准备物质与技术基础；
                    主要任务为：农业基因资源的收集保存、研究评
                    价、繁育创新和开发利用以及发展相关技术。<br>
                        &emsp;&emsp;基因中心现设基因资源库、资源评价创新实
                    验室、节水抗旱稻研发中心、综合办公室四个部
                    门，同时还是国家农作物种质资源平台（上海）、
                    农业部作物基因资源与种质创制上海科学观测实
                    验站、国家作物遗传改良国家重点实验室种质资
                    源分室的依托单位。中心现有员工35人，博士后
                    、硕博士研究生20人。
            </p>
        </div>

        <div class="col-md-5">
            <img src="/assets/images/photo1.jpg" style="height: 300px;
                width: 470px">
        </div>
        <br>
        <div class="col-sm-6">
            <hr>


            <div class="row" style="text-align: center;
                margin-top: 100px;
                margin-left: 1px">
                <p class="text-justify" style="font-size: 15px">
                    地址：上海市北翟路2901号
                </p>
                <p class="text-justify" style="font-size: 15px">
                    版权所有：上海市农业生物基因中心（SAGC）
                </p>
                <p class="text-justify" style="font-size: 15px">
                    邮编：201106 电话：86-21-52230526 E-mail:sagc&#64sagc.org.cn
                </p>
                <p class="text-justify" style="font-size: 15px">
                    沪ICP备06037669号
                </p>
            </div>


        </div>

        <div class="col-sm-6" style="margin-top: 80px;
            margin-left: -120px">
            <img src="/assets/images/photo2.png" style="height: 160px;
                width: 700px">
        </div>


    </div>


}
